.Navbar {
    border : 1px solid gray;
}

.MainContent{
    border: 1px solid gray;
    display :flex;
}

.MainContent .MainList{
    float: left;
    text-align: center;
    width: 400px;
}

.MainContent .myMap{
    float: left;
}