@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

.App {
    position: fixed;
    width: 100%;
    height: 100%;

    font-family: "Nanum Pen Script", serif;
}

/* Navbar */
.Navbar {
    width: 100%;
    height: 5%;
    padding-top: 5px;
    padding-left: 10px;

    border-bottom: 1px solid gray;
    display: flex;
    justify-items: center;
}

.Navbar .NavInputWrapper {
    min-width: 60%;
    z-index: 999;
}

.Navbar div {
    text-align: center;
    font-family: "BM Yeonsung", serif;
    font-size: 20px;
    padding-top: 4px;
}

.Navbar .NavInput {
    width: 60%;
    height: 70%;

    border-radius: 5px;
    border: 1px solid darkgray;

}

/* MainContent */
.MainContent {
    display: flex;
}

.MainContent .myMap {
    float: right;
}

/* MainList */
.MainContent .MainList {
    width: 25%;
    height: 95vh;
    overflow: scroll;
    font-size: 20px;

    border-right: 1px solid lightgray;
    padding-right: 5px;
}

@media (min-width: 400px) {
    .MainContent .MainList {
        min-width: 300px;
        height: 95vh;
        overflow: scroll;
        font-size: 20px;
    }
}


.MainContent .MainList .MainListItem {
    padding: 20px;
    cursor: pointer;

    border: 1px solid lightgray;
    border-radius: 5px;

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;

    box-shadow: 5px 4px 4px -4px gray;
}

.MainContent .MainList .MainListItem .Categories {
    display: flex;
    justify-content: left;
    margin-top: 10px;

    flex-wrap: wrap;
}

.MainContent .MainList .MainListItem .Categories div {
    border: 2px solid gray;
    border-radius: 8px;

    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;

    margin-right: 5px;
    margin-bottom: 2px;

}

/* OverlayInfo */
.overlayInfo {
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    padding: 10px 10px;
    background: rgb(255, 255, 255, 1);
}

.blank {
    height: 45px;
}

.MainContent .MainList .MainListItem .Info .RestaurantName {
    font-family: "BM Yeonsung", serif;
    font-size: 30px;
    font-weight: bold;
}